env:
  matrix:
    - VISUAL_STUDIO="Visual Studio 15 2017"
    - VISUAL_STUDIO="Visual Studio 15 2017 Win64"
language: c
os:
  - windows
script:
  - echo $VISUAL_STUDIO
  - mkdir build && cd build && cmake -G "$VISUAL_STUDIO" .. && cmake --build . --config Release
